@use "./base.scss";
@use "./callouts.scss";
@use "./variables.scss" as *;
@use "../components/styles/toc.scss";
@use "../components/styles/footer.scss";
@use "../components/styles/darkmode.scss";
@use "../components/styles/graph.scss";
@use "../../content/.obsidian/snippets/imgAdj.css"; // for image ajustments

// base.scss
.page {
	&>#quartz-body {
		& .page-header {
			margin: calc($topSpacing - 3.5rem) auto 0 auto;

			@media all and (max-width: $fullPageWidth) {
				margin-top: 0rem;
			}
		}
	}
}
h4 {
	font-size: 1.12rem;
	margin-top: 1.62rem;
	margin-bottom: 1rem;
}

// callouts.scss
.callout {
	&[data-callout="content"] {
		--color: var(--darkgray);
		--border: #00000000;
		--bg: #00000000;
		padding: 0;
		margin: 0.5rem 0;

		& .callout-title {
			padding: 0;
			margin: 0;
			gap: 0;

			& .callout-icon {
				--icon-size: 0;
			}

			& .callout-title-inner {
				font-weight: normal;
			}

			& .fold-callout-icon {
				padding-left: 10px;
			}
		}
	}
}
// toc.scss
#toc-content {
	& ul {
		&>li>a {
			opacity: 0.75;
		}
	}
}

// footer.scss
@media screen and (max-width: $fullPageWidth) {
	footer {
		text-align: center;

		& ul {
			flex-direction: column;
			gap: 0rem;
			align-items: center;
		}
	}
}

// darkmode.scss
.darkmode {
	& svg {
		fill: var(--light);
	}
}
// graph.scss
.graph {
	&>.graph-outer {
		height: 300px;

		&>#graph-container {
			height: 100%;
		}
	}
}

.graph>#global-graph-outer>#global-graph-container {
	border: 3px dashed var(--secondary);
}