@use "./base.scss";
@use "./variables.scss" as *;
@use "../components/styles/toc.scss";
@use "../components/styles/footer.scss";
@use "../components/styles/darkmode.scss";
@use "../components/styles/graph.scss";
@use "../../content/.obsidian/snippets/imgAdj.css"; // for image ajustments

// base.scss
.page {
	&>#quartz-body {
		& .page-header {
			margin: calc($topSpacing - 3.5rem) auto 0 auto;

			@media all and (max-width: $fullPageWidth) {
				margin-top: 0rem;
			}
		}
	}
}
// toc.scss
#toc-content {
	& ul {
		&>li>a {
			opacity: 0.75;
		}
	}
}

// footer.scss
@media screen and (max-width: $fullPageWidth) {
	footer {
		text-align: center;

		& ul {
			flex-direction: column;
			gap: 0rem;
			align-items: center;
		}
	}
}

// darkmode.scss
.darkmode {
	& svg {
		fill: var(--light);
	}
}
// graph.scss
.graph {
	&>.graph-outer {
		height: 300px;

		&>#graph-container {
			height: 100%;
		}
	}
}

.graph>#global-graph-outer>#global-graph-container {
	border: 3px dashed var(--secondary);
}